# 記法の詳細は公式ドキュメントを参照：
# https://docs.docker.jp/engine/reference/builder.html


### CIを用いてビルドフェーズが分かれているため、
### .dockerignore自体を設定しないほうが無難
### (調子に乗って設定すると502エラーになる)


# .(ドット)で始まるファイル・フォルダをBuildに含めない(プロジェクトルートのみ)
# .*

# 例外宣言
# !.postgres


# */.*
# */old

# キャッシュのためコメントアウト
# **/node_modules

# ローカルテストで参照するためコメントアウト
# **/dist